.user-info{
    position: fixed;
    bottom: 25px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    color: #ffffff;
    z-index: 10;
}

.user-info ion-icon {
    font-size: 20px;
}